.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the header stays above other content */
    /* Add other styling properties as needed */
}

.container .content {
    display: none;
    padding : 5px;
