---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
    @media print {
      .page-break {
          page-break-before: always;
      }
    }
      ul li {
        margin-bottom: 0.1em;
        margin-top: 0em;
      }

      .page__content h1, .page__content h2 {
        font-size: 1.05em;
        border-bottom: 1px solid #bbbbbb;
      }
    </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      <article class="splash" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
        {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}
    
        <section class="page__content" itemprop="text">
          {{ content }}
        </section>
      </article>
    </div>

    <div class="page__footer">
      <footer>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
